{% extends 'admin.base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'D:/webprojects/Dev Web Jr/hophophop/src/Controller/BackOfficeController.php'|file_link(0) }}">src/Controller/BackOfficeController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'D:/webprojects/Dev Web Jr/hophophop/templates/back_office/index.html.twig'|file_link(0) }}">templates/back_office/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
