//
// General
//
@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
    font-family: "Collegier";
    src: url("assets/fonts/Collegier.ttf");
}

@font-face {
    font-family: "CabbageTown";
    src: url("assets/fonts/CabbageTownStd.ttf");
}

@font-face {
    font-family: "Fonters";
    src: url("assets/fonts/Fonters.otf"),
         url("assets/fonts/Fonters.ttf");
}

$BrewOrange: #e96e53;
$CardColor: #474756;
$BrewBlack: #383843;

body {
    position:relative;
    font-family: "Roboto";
    overflow-x: hidden;
}

.main-content {
    position:relative;
    margin-left: 4vw;
    margin-top: 7vh;
    width:96vw;
}

a {
    color:black;
    &:hover {
        color:black;
        text-decoration: none;
    }
}



//
// Utilities
//

// Quick font size from 1 to 6vw
@for $i from 1 through 6 {
    .fs-#{$i} { font-size: #{$i}vw; }
}

// Determines Beer Color
@import 'ebc';

//Applies font 
.collegier {
    font-family: "Collegier";
}

//
// Components
//

// NavBar

.navbar {
    width:4vw;
    height:100vh;
    top:0;
    left:0;
    background-color: $BrewBlack!important;
    z-index:999;
    position:fixed;
    i {
        color:rgba(255, 255, 255, 0.815);
        font-size: 2vw;
        margin:auto;
        transition: all .4s ease;
        &:hover {
            color: white;
            font-size: 2.2vw;
        }
    }
    .navbar-brand {
        color:white;
        font-family: "Collegier";
        font-size: 2.5vw;
        margin:auto;
    }
    .dropdown-toggle:after{ 
        content: none;
    }
    .dropdown-menu {
        z-index:500;
        margin-top: -100%;
    }
    .user-avatar {
        height:5vh;
        width:5vh;
        overflow:hidden;
        border-radius: 50%;
        img {
            height:100%;
            min-width:auto;
        }
    }
}



// Page header

.page-header-top {
    width:100%;
    background: url("assets/images/layout/hop-bg.png") no-repeat $BrewOrange;
    z-index:2;
    height:10vh;
    position:fixed;
    top:0;
    h1 {
        font-family: "CabbageTown";
        color: white;
    }
}

//
// Template 
//

.container-fluid {
    margin-left:9vw;
    width:85vw;
}

.container-form {
    margin-left: 6vw;
    width: 92vw;
}

//
// Forms
//

.formRecipe {
    margin-top: 12vh;
    label {
        font-weight: bold;
    }
    ul {
        list-style: none;
    }
    textarea {
        height: 20vh;
    }
}

.formRecipe-aside {
    margin-top: 12vh;
}

//
// Recipes
//

.recipes-list {
    height: 93vh;
}

.card.recipe-card {
    font-family: "Roboto", sans-serif;
    position:relative;
    height:65vh;
    border: 1px solid rgba(0,0,0,.2);
    transition: all .4s ease;
    &:hover {
        box-shadow: .3vw .3vw rgba(0,0,0,.5);
    }
    .card-title {
        font-family: 'Fonters';
        font-size: 2vw;
    }
    .author {
        font-family: "Segoe UI";
        color:rgba(255,255,255,.5);
        font-size: 1vw;
    }
    .card-content {
        flex-grow: 1;
        background-image: url('../assets/images/layout/malt.png');
        background-size:70%;
        background-repeat: no-repeat;
        background-position: bottom right;
        .recipe-icons{
            .thumbs-up {
                position:relative;
                span {
                    position:absolute;
                    top:40%;
                    left:50%;
                    font-size:1.5vw;
                    font-weight: bold;
                }
            }
        }
        .alcohol {
            font-size: 4vw;
        }
        i {
            font-size:5vw;
        }
        .fa-quote-left, .fa-quote-right {
            font-size:2vw;
        }
    }
    .card-footer {
        .recipe-avatar {
            height:3vw;
            width: 3vw;
            overflow:hidden;
            border-radius:50%;
            img {
                height:3vw;
                min-width:auto;
            }
        }
    }
}

.pagination{
    width:100%;
    margin: 2vw 0;
}

//
// Recipe
//

.recipe-wrapper {
    margin-top: 13vh;
    width: 96vw;
    margin-left:4vw;
    .main-recipe {
        i {
            font-size: 3vw;
        }
        .fa-thumbs-up {
            transition: all .5s ease;
            &:hover {
                color: #3c3c6d;
            }
        }
        .recipe-hop-icon {
            img {
                width: 100%;
                height: auto;
            }
        }
        .malts-header {
            font-weight: bold;
            .fa-shopping-cart {
                font-size: .7vw;
            }
        }
        .shopping-notempty, .shopping-empty {
            img {
                height: 2vh;
                width: auto;
            }
        }
        .shopping-empty {
            img {
                filter: grayscale(100%);
            }
        }
    }
    .side-recipe {
        height: 86vh;
        border-left:1px solid lightgrey;
        .recipe-avatar {
            width:4vw;
            height:4vw;
            overflow:hidden;
            border-radius:50%;
            img {
                height: 4vw;
                min-width: auto;
            }
        }
    }
}

//
// User Edit Profile
//

.edit-profile-avatar {
    width:7vw;
    height:7vw;
    overflow:hidden;
    border-radius:50%;
    img {
        height:100%;
        min-width:auto;
    }
}