//
// General
//
@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
    font-family: "Collegier";
    src: url("assets/fonts/Collegier.ttf");
}

@font-face {
    font-family: "CabbageTown";
    src: url("assets/fonts/CabbagetownStd.ttf");
}

@font-face {
    font-family: "Fonters";
    src: url("assets/fonts/Fonters.otf"),
         url("assets/fonts/Fonters.ttf");
}

$BrewOrange: #e96e53;
$CardColor: #474756;
$BrewBlack: #383843;

body {
    position:relative;
    font-family: "Roboto";
    overflow-x: hidden;
    @media(max-width:992px) {
        font-size:4vw;
    }
}

.main-content {
    position:relative;
    margin-left: 4vw;
    margin-top: 7vh;
    width:96vw;
    @media(max-width:992px) {
        margin-top: 14vh;
        margin-left:3vw;
    }
}

a {
    color:black;
    &:hover {
        color:black;
        text-decoration: none;
    }
}

.alert {
    @media(max-width:992px) {
        font-size: 3vw;
        .phone-title {
            font-size: 3vw;
        }
    }
}

.phone-collegier {
    @media(max-width:992px) {
        font-size: 6vw!important;
    }
}

.subtitle {
    @media(max-width:992px) {
        font-size: 5vw!important;
    }
}

.tutorial-title {
    @media(max-width:992px) {
        font-size: 3vw!important;
    }
}

//
// Utilities
//

// Quick font size from 1 to 6vw
@for $i from 1 through 6 {
    .fs-#{$i} { font-size: #{$i}vw; }
}

// Determines Beer Color
@import 'ebc';

//Applies font 
.collegier {
    font-family: "Collegier";
}

//
// Components
//

// NavBar

.navbar-desktop {
    width:4vw;
    height:100vh;
    top:0;
    left:0;
    background-color: $BrewBlack!important;
    z-index:999;
    position:fixed;
    i {
        color:rgba(255, 255, 255, 0.815);
        font-size: 2vw;
        margin:auto;
        transition: all .4s ease;
        &:hover {
            color: white;
            font-size: 2.2vw;
        }
    }
    .navbar-brand {
        color:white;
        font-family: "Collegier";
        font-size: 2.5vw;
        margin:auto;
    }
    .fa-cog {
        font-size: 0.8vw;
        color: $BrewBlack;
        transition: all 1s ease;
        &:hover {
            color: $BrewBlack;
            font-size:0.8vw;
            transform: rotate(180deg);
        }
    }
    .dropdown-toggle:after{ 
        content: none;
    }
    .dropdown-menu {
        z-index:500;
        margin-left: 4.2vw;
        margin-bottom: -5vh;
    }
    .user-avatar {
        height:5vh;
        width:5vh;
        background-color: $BrewOrange;
        overflow:hidden;
        border-radius: 50%;
        img {
            height:100%;
            min-width:auto;
        }
    }
}

.phone-navbar {
    color:white;
    background-color: $BrewBlack;
    height: 5vh;
    position:fixed;
    top: 0;
    left:0;
    z-index:999;
    .navbar-brand {
        color: white;
        font-size: 5vw;
    }
    a {
        color: white;
    }
    .dropdown-menu{
        font-size: 3vw;
        color: black;
        a {
            color:black;
        }
    }
}

// Page header

.page-header-top {
    width:100%;
    background: url("assets/images/layout/hop-bg.png") no-repeat $BrewOrange;
    z-index:2;
    height:10vh;
    position:fixed;
    top:0;
    h1 {
        font-family: "CabbageTown";
        color: white;
    }
    @media(max-width:992px){
        margin-top:5vh;
        h1 {
            font-size:5vw;
        }
    }
}

//
// Template 
//

.container-fluid {
    margin-left:9vw;
    width:85vw;
}

.main-container {
    margin-left: 6vw;
    width: 92vw;
    margin-top: 12vh;
    @media(max-width:992px) {
        margin-top: 17vh;
        margin-left: 4vw;
    }
}

.home-avatar {
    width:4vw;
    height:4vw;
    overflow:hidden;
    border-radius:50%;
    background-color: $BrewOrange;
    img {
        height: 4vw;
        min-width: auto;
    }
}

.user-panel-username {
    line-height: 2vh;
}

//
// Forms
//

.form {
    @media(max-width:992px) {
        input, textarea, select, button {
            font-size: 3vw;
        }
        a {
            font-size:2vw;
        }
    }
    label {
        font-weight: bold;
    }
    ul {
        list-style: none;
    }
    textarea {
        height: 20vh;
    }
}

.form-aside {
}

#edit-profile {
    width: 50vw;
}

.form-tutorial {
    textarea.ckeditor {
        height: 40vh;
    }
}

//
// Login
//

.form-card-content {
    width:96vw;
    margin-left:4vw;
    padding-top: 30vh;
    .card {
        width: 50%;
        margin: 0 auto;
        @media(max-width:992px) {
            width:90%;
            button, a, input {
                font-size: 3vw;
            }
        }
    }
    
}

//
// Delete Page
//

.delete-content {
    width:96vw;
    margin-left:4vw;
    padding-top: 40vh;
    .card {
        width: 50%;
        margin: 0 auto;
        @media(max-width:992px) {
            width:90%;
            button, a {
                font-size: 3vw;
            }
        }
    }
}

.delete-success {
    margin-top: 12vh;
}

//
// Recipes
//

.recipes-list {
    height: 93vh;
}

.card.recipe-card {
    font-family: "Roboto", sans-serif;
    position:relative;
    height:65vh;
    border: 1px solid rgba(0,0,0,.2);
    transition: all .4s ease;
    @media(max-width:992px) {
        height:55vh;
    }
    &:hover {
        box-shadow: .3vw .3vw rgba(0,0,0,.5);
    }
    .card-title {
        font-family: 'Fonters';
        font-size: 2vw;
        @media(max-width:992px) {
            font-size:6vw;
        }
    }
    .author {
        font-family: "Segoe UI";
        color:rgba(255,255,255,.5);
        font-size: 1vw;
    }
    .card-content {
        flex-grow: 1;
        background-image: url('../assets/images/layout/malt.png');
        background-size:70%;
        background-repeat: no-repeat;
        background-position: bottom right;
        .recipe-icons{
            .thumbs-up {
                position:relative;
                span {
                    position:absolute;
                    top:40%;
                    left:50%;
                    font-size:1.5vw;
                    font-weight: bold;
                    @media(max-width:992px) {
                        top:30%;
                        font-size: 5vw;
                    }
                }
            }
        }
        .alcohol {
            font-size: 4vw;
            @media(max-width:992px) {
                font-size: 9vw;
            }
        }
        i {
            font-size:5vw;
            @media(max-width:992px) {
                font-size: 12vw;
            }
        }
        .fa-quote-left, .fa-quote-right {
            font-size:2vw;
        }
    }
    .card-footer {
        .recipe-avatar {
            background-color: $BrewOrange;
            height:3vw;
            width: 3vw;
            overflow:hidden;
            border-radius:50%;
            @media(max-width:992px) {
                height: 9vw;
                width: 9vw;
            }
            img {
                height:3vw;
                min-width:auto;
                @media(max-width:992px) {
                    height: 9vw;
                }
            }
        }
    }
}

.pagination{
    width:100%;
    margin: 2vw 0;
}

//
// Recipe
//

.recipe-wrapper {
    margin-top: 13vh;
    width: 96vw;
    margin-left:4vw;
    @media(max-width:992px) {
        margin-top: 18vh;
        margin-left: 2vw;
    }
    .main-recipe {
        i {
            font-size: 3vw;
            @media(max-width:992px) {
                font-size: 5.5vw;
            }
        }
        @media(max-width:992px) {
            .batch-size, .beer-alcohol, .beer-color, .thumbs-up-number {
                font-size: 4vw!important;
            }
            .beer-method, .beer-style {
                font-size: 5vw;
            }
            .recipe-subtitles {
                font-size: 5vw;
            }
            .fa-shopping-cart {
                font-size: 3vw!important;
            }
        }
        .fa-thumbs-up {
            transition: all .5s ease;
            &:hover {
                color: #3c3c6d;
            }
        }
        .recipe-hop-icon {
            img {
                width: 100%;
                height: auto;
            }
        }
        .malts-header {
            font-weight: bold;
            .fa-shopping-cart {
                font-size: .7vw;
            }
        }
    }
    .side-recipe {
        height: 86vh;
        border-left:1px solid lightgrey;
        .recipe-avatar {
            background: $BrewOrange;
            width:4vw;
            height:4vw;
            overflow:hidden;
            border-radius:50%;
            img {
                height: 4vw;
                min-width: auto;
            }
        }
    }
    .fa-times {
        font-size: 1vw!important;
        color: rgb(155, 18, 18);
    }
}

.shopping-notempty, .shopping-empty {
    img {
        height: 2vh;
        width: auto;
    }
}
.shopping-empty {
    img {
        filter: grayscale(100%);
    }
}

.comment-avatar {
    background: $BrewOrange;
    width:2.5vw;
    height:2.5vw;
    overflow:hidden;
    border-radius:50%;
    img {
        height: 2.5vw;
        min-width: auto;
    }
    @media(max-width:992px) {
        width:7vw;
        height:7vw;
        img {
            height:7vw;
        }
    }
}

.comment-form {
    form {
        width:100%;
        textarea {
            height: 10vh;
            @media(max-width:992px){
                font-size: 3vw;
            }
        }
        @media(max-width:992px) {
            button {
                font-size: 4vw;
            }
        }
    }
}

//
// User Edit Profile
//

.edit-profile-avatar {
    width:7vw;
    height:7vw;
    overflow:hidden;
    border-radius:50%;
    img {
        height:100%;
        min-width:auto;
    }
}

//
// Admin Home
//

.admin-home {
    .fa-times {
        color: rgb(155, 18, 18);
    }
    .fa-check {
        color: rgb(27, 158, 49);
    }
}