<div class="page-header-top px-5">
    {% if recipe is defined %}
    Recipe
    {% endif %}
    {% if recipes is defined %}
    <h1 class="fs-4 pt-1">Recettes de bière</h1>
    {% endif %}
</div>
<div class="page-header-sub px-5 py-3">
    Blah blah blah
</div>